.vscode/**
.github/**
.claude/**
src/**
node_modules/**
.gitignore
dev/**
examples/**
samples/**
**/*.graph.json
esbuild.js
tsconfig.json
tsconfig.test.json
out-test/**
**/*.map
**/*.ts
*.vsix
**/*.tar.gz
sigma-migration/**
